.body {
  width: 95%;
  margin-left: 2.5%;
}

.header {
  margin-top: 5px;
}

.header-row {
  margin-top: 5px;
}

.header-title-placeholder {
  margin-left: 5px;
  display: inline-block;
}

.header-breadcrumb {
  margin-left: 50px;
  display: inline-block;
}

.header-user {
  float: right;
  margin-right: 20px;
}

.header-user-name {
  margin-right: 10px;
}

.header-messages {
  position: fixed;
  top: 30px;
  z-index:100;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  left: 25%;
  width: 50%;
  background: white;
}

.header-message {
  margin-bottom: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.header-separator {
  margin-top: 5px;
  margin-bottom: 5px;
}

.breadcrumb {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 0px;
}

.footer {
  margin-bottom: 2px;
}

.message-icon {
 display: inline-block;
 margin-left: 20px;
 margin-right: 20px;
}

.message-content {
 display: inline-block;
}

.message-button {
  float: right;
  margin-right: 20px;
}

.toggle-button {
  background-color: white;
  margin: 5px 0;
  border-radius: 20px;
  border: 2px solid #D0D0D0;
  height: 24px;
  cursor: pointer;
  width: 50px;
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
 }
 
.toggle-button button {
  cursor: pointer;
  display:block;
  position: absolute;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: white;
  float: left;
  margin: -5px 0 0 -3px;
  border: 2px solid #D0D0D0;
}

.toggle-button-selected {
  background-color: #034091;
  border: 2px solid #7DA652;
}

.toggle-button-selected button {
  left: 26px;
  margin: -5px 0 0 -3px;
  width: 30px;
  height: 30px;
}