<body>

<div id="popups">
    <div class="popup" id="popup-confirm">
        <div class="popup-background" id="popup-confirm-background"></div>
        <div class="popup-container">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <b id="popup-confirm-description"></b>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <button type="button" class="btn btn-primary" onclick="onPopupConfirmOK()">OK</button>
                            <button type="button" class="btn btn-default" onclick="onPopupConfirmCancel()">Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>