<body>

<div id="descriptor">
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>
                    <span class="margin-right: 20px;">Owner</span>
                </th>
                <th>
                    <span class="btn btn-default" onclick="onPopupNewOwnerOpen()">
                            <img src="/assets/action-plus.svg" width="20" height="20" title="ADD OWNER"/>
                            <img src="/assets/user.svg" width="20" height="20" title="ADD OWNER"/>
                        </span>
                </th>
            </tr>
            </thead>
            <tbody id="descriptor-owners">
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Sharing</th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody id="descriptor-sharing">
            </tbody>
        </table>
    </div>
</div>

</body>