<body>

<div id="popups">
    <div class="popup" id="popup-new-owner">
        <div class="popup-background" id="popup-new-owner-background"></div>
        <div class="popup-container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Secured Resource Management
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <p>Add a new owner:</p>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="input-owner" placeholder="jdoe">
                                    <div class="input-group-addon">
                                        <img src="" width="20" height="20" id="input-owner-indicator"
                                             style="display: none;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary" onclick="onPopupNewOwnerAdd()">Add</button>
                    <button type="button" class="btn btn-default" onclick="onPopupNewOwnerCancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="popup-new-sharing-everybody">
        <div class="popup-background" id="popup-new-sharing-everybody-background"></div>
        <div class="popup-container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Secured Resource Management
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <p>Add a sharing with everybody</p>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary" onclick="onPopupNewSharingWithEverybodyAdd()">
                        Add
                    </button>
                    <button type="button" class="btn btn-default" onclick="onPopupNewSharingWithEverybodyCancel()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="popup-new-sharing-user">
        <div class="popup-background" id="popup-new-sharing-user-background"></div>
        <div class="popup-container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Secured Resource Management
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <p>Add a sharing with a user</p>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="input-sharing-user" placeholder="jdoe">
                                    <div class="input-group-addon">
                                        <img src="" width="20" height="20" id="input-sharing-user-indicator"
                                             style="display: none;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary" onclick="onPopupNewSharingWithUserAdd()">Add</button>
                    <button type="button" class="btn btn-default" onclick="onPopupNewSharingWithUserCancel()"> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="popup-new-sharing-group">
        <div class="popup-background" id="popup-new-sharing-group-background"></div>
        <div class="popup-container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Secured Resource Management
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <p>Add a sharing with a group</p>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="input-sharing-group"
                                           placeholder="reviewers">
                                    <div class="input-group-addon">
                                        <img src="" width="20" height="20" id="input-sharing-group-indicator"
                                             style="display: none;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary" onclick="onPopupNewSharingWithGroupAdd()">Add</button>
                    <button type="button" class="btn btn-default" onclick="onPopupNewSharingWithGroupCancel()">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="popup-new-sharing-role">
        <div class="popup-background" id="popup-new-sharing-role-background"></div>
        <div class="popup-container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Secured Resource Management
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <p>Add a sharing with a role</p>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="input-sharing-role"
                                           placeholder="reviewer">
                                    <div class="input-group-addon">
                                        <img src="" width="20" height="20" id="input-sharing-role-indicator"
                                             style="display: none;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary" onclick="onPopupNewSharingWithRoleAdd()">Add</button>
                    <button type="button" class="btn btn-default" onclick="onPopupNewSharingWithRoleCancel()">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>