.node {
    color: blueviolet;
}

.link {
    color: blue;
}

.path {
    border: solid 1px black;
    display: block;
    margin: 2, 2, 2, 2;
}

.entity0 {
	background-color: #EEEEFF;
}

.entity1 {
	background-color: #EEFFEE;
}