.body {
  width: 95%;
  margin-left: 2.5%;
}

.header {
  margin-top: 5px;
}

.header-row {
  margin-top: 5px;
  padding-bottom: 10px;
}

.header-title-placeholder {
  margin-left: 5px;
  display: inline-block;
}

.header-breadcrumb {
  margin-left: 50px;
  display: inline-block;
}

.header-user {
  float: right;
  margin-right: 20px;
}

.header-user-notifications {
  margin-right: 10px;
}

.header-user-name {
  margin-right: 10px;
}

.header-messages {
  position: fixed;
  top: 30px;
  z-index: 100;
  left: 25%;
  width: 50%;
}

.header-message {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  background: white;
  -webkit-animation: header-message-fadein 0.25s linear forwards;
  animation: header-message-fadein 0.25s linear forwards;
}

@-webkit-keyframes header-message-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes header-message-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.header-message-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6
}

.header-message-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1
}

.header-message-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc
}

.header-message-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1
}

.header-message-icon {
 display: inline-block;
 margin-left: 20px;
 margin-right: 20px;
}

.header-message-content {
 display: inline-block;
}

.header-message-button {
  float: right;
  margin-right: 20px;
  cursor: pointer;
  font-weight:700;
  font-size: 20px;
}

.header-separator {
  margin-top: 5px;
  margin-bottom: 5px;
}

.breadcrumb {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 0px;
}

.footer {
  margin-bottom: 2px;
}

.toggle-button {
  background-color: white;
  margin: 5px 0;
  border-radius: 20px;
  border: 2px solid #D0D0D0;
  height: 24px;
  cursor: pointer;
  width: 50px;
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
 }
 
.toggle-button button {
  cursor: pointer;
  display:block;
  position: absolute;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: white;
  float: left;
  margin: -5px 0 0 -3px;
  border: 2px solid #D0D0D0;
}

.toggle-button-selected {
  background-color: #034091;
}

.toggle-button-selected button {
  left: 26px;
  margin: -5px 0 0 -3px;
  width: 30px;
  height: 30px;
}

.autocomplete-panel {
  background-color: white;
  border: solid 1px #D0D0D0;
  position: fixed;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  z-index: 100;
}

.autocomplete-item {
  cursor: pointer;
}

.autocomplete-item:hover {
  background-color: #D0D0D0;
}

.arrow-box-top {
	position: relative;
	background: #ffffff;
	border: 1px solid #034091;
}
.arrow-box-top:after, .arrow-box-top:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box-top:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow-box-top:before {
	border-color: rgba(3, 64, 145, 0);
	border-bottom-color: #034091;
	border-width: 11px;
	margin-left: -11px;
}

.arrow-box-bottom {
	position: relative;
	background: #ffffff;
	border: 1px solid #034091;
}
.arrow-box-bottom:after, .arrow-box-bottom:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box-bottom:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow-box-bottom:before {
	border-color: rgba(3, 64, 145, 0);
	border-top-color: #034091;
	border-width: 11px;
	margin-left: -11px;
}

.popup {
  display: none;
}

.popup-background {
	position:fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: black;
	opacity: .5;
}

.popup-container {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 11;
	width: 75%;
	margin: 0 auto;
	padding: 2em;
}

.private-conversation {
    color: red;
}

.public-conversation {
    color: green;
}

.nav-conversations {
   margin: 5px;
   padding: 5px;
}

table.creation {
    margin:5px;
}

table.creation td {
    padding: 5px;
}

button.mgmt {
    margin: 1px;
}

button.select {
    margin: 2px auto 2px auto;
    max-height: 50px;
    display: list-item;
    list-style-type: none;
}

select.users {
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    overflow-x: auto;
}