.db {
	cursor: pointer;
}
.db:hover {
	opacity: 0.50;
}

.connector {
	cursor: pointer;
}
.connector:hover {
	opacity: 0.50;
}

.dblink {
	cursor: pointer;
  stroke: #ef7c00;
}
.dblink:hover {
	stroke: red;
}

.link {
	cursor: pointer;
}
.linkCanPull {
  stroke: green;
}
.linkWaiting {
  stroke: #ef7c00;
  animation: link-animate 1s infinite;
}
@keyframes link-animate {
  50% {
    stroke: black;
  }
}
.link:hover {
	stroke: red;
}