.code {
	background-color: lightgray;
	border: 1px solid gray;
	font-family: monospace;
	padding: 1px;
}

.entity ellipse {
	fill: steelblue;
}
.entity:hover ellipse {
	stroke: red;
	stroke-width: 1;
}
.entity path {
	fill: lightgray;
}
.entity:hover path {
	stroke: red;
	stroke-width: 1;
}

.connector > path {
	stroke: black;
	stroke-width: 2;
}
.connector:hover > path {
	stroke: red;
}
.connector > g > path {
	fill: lightgray;
}
.connector:hover > g > path {
	stroke: red;
	stroke-width: 1;
}